lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

credenciales.js
package.json.bak
public/*_wordcloud_*.png
public/fonts/
public/img/
public/patentes/
public/qa/
