doctype html
html
	head
		link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		script(src='/js/app.min.js')

		block title
			title My App!
	body
		block content
